---
import SectionTitle from "../components/SectionTitle.astro";
import { Image } from "astro:assets";
import { type ImageMetadata } from "astro";

//images
import facilMarketDesktop from "../assets/facil-market-desktop.png";
import facilMarketMobile from "../assets/facil-market-mobile.png";
import quinchoDesktop from "../assets/quincho-desktop.png";
import quinMobile from "../assets/quincho-mobile.png";
import integrateDesktop from "../assets/integrate-desktop.jpg";
import integrateMobile from "../assets/integrate-mobile.jpg";

//icons
import TypeScript from "../icons/TypeScript.astro";
import Express from "../icons/Express.astro";
import React from "../icons/React.astro";
import Redux from "../icons/Redux.astro";
import Code from "../icons/Code.astro";
import GitHub from "../icons/GitHub.astro";
import WebSite from "../icons/WebSite.astro";
import Python from "../icons/Python.astro";
import Django from "../icons/Django.astro";

type PropsImage = {
  urlDesktop: ImageMetadata;
  altDesktop: string;
  urlMobile: ImageMetadata;
  altMobile: string;
};

interface ProjectsProps {
  title: string;
  description: string;
  tags: any[];
  images: PropsImage;
  github: string;
  deploy: string;
}

const PROJECTS: ProjectsProps[] = [
  {
    title: "Facil Market - Marketplace para compradores y vendedores",
    description:
      "Aplicación web de Marketplace que conecta a compradores y vendedores en una plataforma accesible e intuitiva. Permite gestionar publicaciones, realizar transacciones y facilitar la interacción entre ambas partes de forma sencilla.",
    tags: [TypeScript, Express, Redux, React],
    images: {
      urlDesktop: facilMarketDesktop,
      altDesktop: "facil-market-desktop",
      urlMobile: facilMarketMobile,
      altMobile: "facil-market-mobile",
    },
    github: "https://github.com/adharainfinita/facil-market-proyect.git",
    deploy: "",
  },

  {
    title: "Quincho Alto Norte - Sitio web promocional",
    description:
      "Sitio web diseñado para destacar un espacio ideal para reuniones familiares y eventos sociales. Presenta de manera clara las instalaciones, servicios y atractivos, ofreciendo a los visitantes una experiencia visual amigable y fácil de navegar.",
    tags: [TypeScript, React],
    images: {
      urlDesktop: quinchoDesktop,
      altDesktop: "quincho-desktop",
      urlMobile: quinMobile,
      altMobile: "quincho-mobile",
    },
    github: "https://github.com/Glutix/Quincho.git",
    deploy: "https://glutix.github.io/Quincho/",
  },

  {
    title: "Integrate - Blog Musical",
    description:
      "Proyecto académico que consiste en un blog dedicado a la música, donde los usuarios pueden compartir artículos, escribir reseñas y dejar comentarios. También incluye funciones sociales como dar 'me gusta' e interactuar con otros miembros de la comunidad.",
    tags: [Python, Django],
    images: {
      urlDesktop: integrateDesktop,
      altDesktop: "integrate-desktop",
      urlMobile: integrateMobile,
      altMobile: "integrate-mobile",
    },
    github: "https://github.com/Glutix/blog-musical",
    deploy: "https://integrate.pythonanywhere.com/",
  },
];
---

<div>
  <SectionTitle id="projects" title="Proyectos" icon={Code} />
  <div class="projects">
    {
      PROJECTS.map(({ title, description, tags, images, github, deploy }) => {
        return (
          <article>
            <h3>{title}</h3>
            <p>{description}</p>

            <ul>
              {tags.map((Badge) => (
                <li>
                  <Badge />
                </li>
              ))}
            </ul>
            <div class="image-wrapper-desktop">
              <Image
                class="image-desktop"
                src={images.urlDesktop}
                alt={images.altDesktop}
                widths={[600, 788]}
                sizes="(min-width: 980px) 896px, calc(88.24vw + 49px)"
              />
            </div>
            <div class="image-wrapper-mobile">
              <Image
                class="image-mobile"
                src={images.urlMobile}
                alt={images.altMobile}
                widths={[275, 600]}
                sizes="calc(100vw - 24px)"
              />
            </div>
            <section>
              <a rel="noopener noreferrer" href={`${github}`} target="_target">
                <GitHub class="github" /> Código fuente
              </a>
              {deploy !== "" ? (
                <a
                  rel="noopener noreferrer"
                  href={`${deploy}`}
                  target="_target"
                >
                  <WebSite class="github" /> Sitio web
                </a>
              ) : (
                ""
              )}
            </section>
          </article>
        );
      })
    }
  </div>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  h3 {
    font-size: 24px;
    color: var(--text-enfasis);
    margin: 0;
  }

  p {
    padding-right: 1rem;
    max-width: 64ch;
    line-height: 24px;
  }

  article {
    gap: 1rem;
    ul {
      list-style: none;
      display: flex;
      padding: 0;
      gap: 1rem;
      flex-wrap: wrap;

      & li {
        color: white;
      }
    }
  }

  section {
    display: flex;
    gap: 1rem;
    align-items: center;

    & a {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background-color: var(--secundary-color);
      width: fit-content;
      padding: 0.5rem;
      border-radius: 24px;
      color: var(--text-normal-variant);
      transition: 0.3s ease-in;

      &:hover {
        color: var(--text-normal-variant);
        transform: scale(1.1);
      }
    }
  }

  .github {
    width: 20px;
    height: 20px;
    color: white;
  }

  /* ---------- Desktop ---------- */
  .image-wrapper-desktop {
    position: relative;
    width: 100%;
    height: 448px;
    border-radius: 24px;
    overflow: hidden;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .image-desktop {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: transform 0.5s ease;
  }

  .image-desktop:hover {
    transform: scale(1);
  }

  /* ---------- Mobile ---------- */
  .image-mobile {
    display: none;
  }

  .image-mobile:active {
    transform: scale(1); /* Zoom out al hacer tap */
  }

  @media (max-width: 600px) {
    .image-wrapper-desktop {
      display: none;
    }

    .image-wrapper-mobile {
      position: relative;
      width: 100%;
      border-radius: 24px;
      overflow: hidden;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .image-mobile {
      display: block;
      width: 100%;
      height: auto; /* mantiene proporción natural */
      border-radius: 24px; /* consistente con wrapper */
      object-fit: cover;
      transform: scale(1.1); /* zoom in inicial */
      transition: transform 0.5s ease;
    }
  }
</style>
