---
import SectionTitle from "../components/SectionTitle.astro";
import { Image } from "astro:assets";
import { type ImageMetadata } from "astro";

//images
import facilMarketDesktop from "../assets/facil-market-desktop.png";
import facilMarketMobile from "../assets/facil-market-mobile.png";
import quinchoDesktop from "../assets/quincho-desktop.png";
import quinMobile from "../assets/quincho-mobile.png";

//icons
import TypeScript from "../icons/TypeScript.astro";
import Express from "../icons/Express.astro";
import React from "../icons/React.astro";
import Redux from "../icons/Redux.astro";
import Code from "../icons/Code.astro";
import GitHub from "../icons/GitHub.astro";
import WebSite from "../icons/WebSite.astro";

type PropsImage = {
  urlDesktop: ImageMetadata;
  altDesktop: string;
  urlMobile: ImageMetadata;
  altMobile: string;
};

interface ProjectsProps {
  title: string;
  description: string;
  tags: any[];
  images: PropsImage;
  github: string;
  deploy: string;
}

const PROJECTS: ProjectsProps[] = [
  {
    title: "Facil Market - Markplace para compradores y vendedores",
    description:
      "Este proyecto es una aplicación de Marketplace. Aquí, ofrecemos una plataforma para que el comprador y el vendedor puedan hacer que su negocio sea fácil y accesible.",
    tags: [TypeScript, Express, Redux, React],
    images: {
      urlDesktop: facilMarketDesktop,
      altDesktop: "facil-market-desktop",
      urlMobile: facilMarketMobile,
      altMobile: "facil-market-mobile",
    },
    github: "https://github.com/adharainfinita/facil-market-proyect.git",
    deploy: "",
  },

  {
    title: "Quincho Alto Norte - Un lugar para disfrutar con la familia",
    description:
      "Proyecto de un familiar para publicitar su negocio, en este caso un hermoso lugar para compartir con familia o amigos",
    tags: [TypeScript, React],
    images: {
      urlDesktop: quinchoDesktop,
      altDesktop: "quincho-desktop",
      urlMobile: quinMobile,
      altMobile: "quincho-mobile",
    },
    github: "https://github.com/Glutix/Quincho.git",
    deploy: "https://glutix.github.io/Quincho/",
  },
];
---

<div>
  <SectionTitle id="projects" title="Proyectos" icon={Code} />
  <div class="projects">
    {
      PROJECTS.map(({ title, description, tags, images, github, deploy }) => {
        return (
          <article>
            <h3>{title}</h3>
            <p>{description}</p>

            <ul>
              {tags.map((Badge) => (
                <li>
                  <Badge />
                </li>
              ))}
            </ul>
            <Image
              class="image-desktop"
              src={images.urlDesktop}
              alt={images.altDesktop}
              widths={[600, 788]}
              sizes="(min-width: 980px) 896px, calc(88.24vw + 49px)"
            />
            <Image
              class="image-mobile"
              src={images.urlMobile}
              alt={images.altMobile}
              widths={[275, 960]}
              sizes="calc(100vw - 24px)"
            />
            <section>
              <a href={`${github}`} target="_target">
                <GitHub class="github" /> Código fuente
              </a>
              {deploy !== "" ? (
                <a href={`${deploy}`} target="_target">
                  <WebSite class="github" /> Sitio web
                </a>
              ) : (
                ""
              )}
            </section>
          </article>
        );
      })
    }
  </div>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  h3 {
    font-size: 24px;
    color: var(--text-enfasis);
    margin: 0;
  }

  p {
    padding-right: 1rem;
    max-width: 75ch;
    line-height: 24px;
  }

  .image-desktop {
    max-width: 100%;
    height: 448px;
    border-radius: 4px;
    padding-bottom: 20px;
    padding-top: 20px;
    object-fit: cover;
    transition: 0.3s ease;
    border-radius: 24px;
    aspect-ratio: 2/1;
    filter: drop-shadow(4px 4px 12px var(--image-shadow));

    &:hover {
      object-position: top;
    }
  }

  .image-mobile {
    display: none;
  }

  article {
    gap: 1rem;
    ul {
      list-style: none;
      display: flex;
      padding: 0;
      gap: 1rem;
      flex-wrap: wrap;

      & li {
        color: white;
      }
    }
  }

  section {
    display: flex;
    gap: 1rem;
    align-items: center;

    & a {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background-color: var(--secundary-color);
      width: fit-content;
      padding: 0.5rem;
      border-radius: 24px;
      color: var(--text-normal-variant);
      transition: 0.3s ease-in;

      &:hover {
        color: var(--text-normal-variant);
        transform: scale(1.1);
      }
    }
  }

  .github {
    width: 20px;
    height: 20px;
    color: white;
  }

  @media (max-width: 600px) {
    .image-desktop {
      display: none;
    }

    .image-mobile {
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      padding-bottom: 0.5rem;
      object-fit: cover;
    }
  }
</style>
