---
// Supports weights 100-900
import "@fontsource-variable/montserrat";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://glutix.github.io/porfolio/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://lh3.googleusercontent.com/pw/ABLVV86qnTM77RwNgDYwbw2Ga-k9LalCJE9wdKrE-hUloRvXNPlnnHPTrNhbr4eTrvessvQBz8Jbl-ISHW6_LAlLllH2il75GPp1h484S8iq8vevGLxQqvK-jXjL1-dVJnj1YUqb6sUin3rG-PfJTcbMZukG2-LVZ-H_vNXYBIeaB8SmgWNgDhIUgqfRvbgt7BHl4rfhHUpvPInhAZv0e7WF0qXos4GKbTv0gT-zj8gag66mQc3P0_GTXzLtJ2kuskmNwK5v_JeaonWb7j8EPPJt9jxo0Z8J4NDBoy7y4FOG5RTVabvVnfaS6Xrsihx96jI7ulQmfciuFEYk6APLo8yuE7bQybQjkJeGWmptOxES_QnnRrLzFIDFH-roexyYkoATILw4IAOZPfYHZV14NKaWBhkFZGMDl0cxm5OvAiRp6y4WM7BFcpK-rLwmo01pDcxFJKxZNfX0JTT_E6Wh4iCH6j02MEB9tYCipAGrWmF_ml_sU5ssltPqZKQ0qtmtLsaZmYRHeFKJNSNZmPVjxeivIhlHsOg8ihMFE1_SWj3GaAm3Aw3fIDhKJW3Ub_bCgap7v6yu0qpK5g_eJT7xGJ8p1OrIuie3lm8wXZHsKJx_gOe1NxFeaIjBYTdkOnMYrVZZowt1oHhFC83DSX2MdYOZoBl9guJI28jHn44JHhRntEZ6UTkkDpAPhO-iuL5lppXGd3VtQtBFlS2_w_o1hVQMLW7kE9Mxf0VIxWlWSLvgIM74-2NlQXsFZt_eiusQoc0y9OAx2khzg1WLOIEyB_Bxljc2ySTz1xfyzmiEWdlHA3kR3ABU_iepRYwYoE427Jw2SmwWYYdEi7odXhRDDogrZNb6IGdFv1FFG-_T4d2i1080g-5WwrgOERTSc9gkXUO_vM0DTveKIe38BcnCcDwVgoMd=w1258-h621-s-no-gm?authuser=0"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://glutix.github.io/porfolio/" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta
      property="twitter:image"
      content="https://lh3.googleusercontent.com/pw/ABLVV86qnTM77RwNgDYwbw2Ga-k9LalCJE9wdKrE-hUloRvXNPlnnHPTrNhbr4eTrvessvQBz8Jbl-ISHW6_LAlLllH2il75GPp1h484S8iq8vevGLxQqvK-jXjL1-dVJnj1YUqb6sUin3rG-PfJTcbMZukG2-LVZ-H_vNXYBIeaB8SmgWNgDhIUgqfRvbgt7BHl4rfhHUpvPInhAZv0e7WF0qXos4GKbTv0gT-zj8gag66mQc3P0_GTXzLtJ2kuskmNwK5v_JeaonWb7j8EPPJt9jxo0Z8J4NDBoy7y4FOG5RTVabvVnfaS6Xrsihx96jI7ulQmfciuFEYk6APLo8yuE7bQybQjkJeGWmptOxES_QnnRrLzFIDFH-roexyYkoATILw4IAOZPfYHZV14NKaWBhkFZGMDl0cxm5OvAiRp6y4WM7BFcpK-rLwmo01pDcxFJKxZNfX0JTT_E6Wh4iCH6j02MEB9tYCipAGrWmF_ml_sU5ssltPqZKQ0qtmtLsaZmYRHeFKJNSNZmPVjxeivIhlHsOg8ihMFE1_SWj3GaAm3Aw3fIDhKJW3Ub_bCgap7v6yu0qpK5g_eJT7xGJ8p1OrIuie3lm8wXZHsKJx_gOe1NxFeaIjBYTdkOnMYrVZZowt1oHhFC83DSX2MdYOZoBl9guJI28jHn44JHhRntEZ6UTkkDpAPhO-iuL5lppXGd3VtQtBFlS2_w_o1hVQMLW7kE9Mxf0VIxWlWSLvgIM74-2NlQXsFZt_eiusQoc0y9OAx2khzg1WLOIEyB_Bxljc2ySTz1xfyzmiEWdlHA3kR3ABU_iepRYwYoE427Jw2SmwWYYdEi7odXhRDDogrZNb6IGdFv1FFG-_T4d2i1080g-5WwrgOERTSc9gkXUO_vM0DTveKIe38BcnCcDwVgoMd=w1258-h621-s-no-gm?authuser=0"
    />

    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://assets.calendly.com/assets/external/widget.css"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="../../public/favicon.svg" />
  </head>
  <body>
    <slot />
  </body>

  <script
    src="https://assets.calendly.com/assets/external/widget.js"
    type="text/javascript"
    async></script>
  <script type="text/javascript">
    window.onload = function () {
      Calendly.initBadgeWidget({
        url: "https://calendly.com/ferreyra-ricardo/job-meeting",
        text: "Programe una reunión conmigo",
        color: "#1a1a1a",
        textColor: "#ffffff",
        branding: undefined,
      });
    };
  </script>
</html>

<style is:global>
  .dark-mode {
    color-scheme: dark;
    --primary-color: #121212;
    --secundary-color: #3f3f3f;
    --secundary-color-variant: #12121293;
    --btn-hover: #5c5b5b;
    --text-title: #fff;
    --text-normal: #d7d7d7;
    --text-normal-variant: #d7d7d7;
    --text-enfasis: #f0e480;
    --text-enfasis-1: #e7a2b3;
    --text-enfasis-2: #b8d2ef;
    --image-shadow: #ffffff80;
  }

  .light-mode {
    color-scheme: light;
    --primary-color: #fdfbf6;
    --secundary-color: #011627;
    --secundary-color-variant: #7c7c7c;
    --btn-hover: #eab308;
    --text-title: #000000;
    --text-normal: #242422;
    --text-normal-variant: #fff;
    --text-enfasis: #ffc001;
    --text-enfasis-1: #b00113;
    --text-enfasis-2: #00429a;
    --image-shadow: #011627;
  }

  html {
    font-family: "Montserrat Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
    background-color: var(--primary-color);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--text-title);
      text-wrap: balance;
    }

    h1 {
      font-size: 34px;
      line-height: 34px;
      margin: 0;
    }

    h2 {
      font-size: 30px;
      line-height: 30px;
      margin: 0;
    }

    h3 {
      font-size: 26px;
      line-height: 26px;
      margin: 0;
    }

    p {
      text-wrap: pretty;
      font-size: 18px;
      line-height: 28px;
    }
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overscroll-behavior: none;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-normal);
    transition: all 1s ease;
  }
</style>
